{# @var widget \putyourlightson\campaign\widgets\MailingListSubscribersWidget #}

<div class="campaign-widget">
    <strong class="number">
        {{ subscribers }}
    </strong>
    <br>
    {% set mailingListCount = widget.mailingListIds|length %}
    {% if widget.dateRange %}
        {% if mailingListCount > 0 %}
            {{ 'new subscribers to {num, number} {num, plural, =1{mailing list} other{mailing lists}}'|t('campaign', { num: mailingListCount }) }}
        {% else %}
            {{ 'new subscribers'|t('campaign') }}
        {% endif %}
    {% else %}
        {% if mailingListCount %}
            {{ 'subscribers to {num, number} {num, plural, =1{mailing list} other{mailing lists}}'|t('campaign', { num: mailingListCount }) }}
        {% else %}
            {{ 'subscribers'|t('campaign') }}
        {% endif %}
    {% endif %}
    <br>
    <span class="extralight">
        {% if widget.dateRange %}
            {{ widget.dateRangeOptions[widget.dateRange] }}
        {% else %}
            {{ 'All time'|t('campaign') }}
        {% endif %}
    </span>
</div>
