<div class="campaign-widget">
    <strong class="number">
        {{ subscribers }}
    </strong>
    <br>
    {% if dateRange %}
        {% if selectedMailingLists|length %}
            {{ 'new mailing list subscribers to:'|t('campaign') }}
        {% else %}
            {{ 'new mailing list subscribers'|t('campaign') }}
        {% endif %}
    {% else %}
        {% if selectedMailingLists|length %}
            {{ 'mailing list subscribers to:'|t('campaign') }}
        {% else %}
            {{ 'mailing list subscribers'|t('campaign') }}
        {% endif %}
    {% endif %}
    {% if selectedMailingLists|length > 0 %}
        <br>
        {% set mailingListTitles = selectedMailingLists|map((mailingList) => mailingList.title) %}
        {{ mailingListTitles|join(', ') }}
    {% endif %}
    <br>
    <span class="extralight">
        {% if dateRange %}
            {{ 'Last {num, number} {num, plural, =1{day} other{days}}'|t('app', {num: dateRange}) }}
        {% else %}
            {{ 'All time'|t('campaign') }}
        {% endif %}
    </span>
</div>
