{% extends '_layouts/cp' %}

{% set title = 'Craft Campaign'|t('campaign') %}
{% set selectedSubnavItem = '' %}


{% block pageTitle %}
{% endblock %}


{% block main %}

    <div class="welcome">
        <div class="welcome-oil"></div>
        <h1 class="step step-1">{{ "Initialising plugin"|t('campaign') }}...</h1>
        <h1 class="step step-2">{{ "Finalising setup"|t('campaign') }}...</h1>
        <div class="step step-3">
            <h1>{{ "Welcome to Craft Campaign"|t('campaign') }}</h1>
            <a href="{{ url('campaign/settings') }}" class="go">{{ "Plugin Settings"|t('campaign') }}</a>
        </div>
    </div>

{% endblock %}
