{% extends 'campaign/contacts/_layout' %}

{% if not currentUser.can('campaign:importContacts') %}
    {% redirect 'campaign' %}
{% endif %}

{% import '_includes/forms' as forms %}

{% set title = 'Import'|t('campaign') %}
{% set crumbs = [] %}
{% set contactFieldNames = ['Email [' ~ 'required'|t('campaign') ~ ']'] %}
{% for field in craft.campaign.settings.getContactFields() %}
    {% set contactFieldNames = contactFieldNames|merge([field.name ~ (field.required ? ' [' ~ 'required'|t('campaign') ~ ']')]) %}
{% endfor %}
{% set imports = craft.campaign.getAllImports() %}


{% block content %}

    <p>{{ "Import emails addresses and contact data from a CSV file."|t('campaign') }}</p>

    <form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="campaign/imports/upload-file" />

        {{ forms.fileField({
            label: "CSV File"|t('campaign'),
            instructions: ("Choose a CSV file (comma-separated values) to import contact data. The first line of the file should contain the column headers. The following contact fields are available:"|t('campaign') ~ "\n" ~ '`' ~ contactFieldNames|join(', ') ~ '`'),
            name: 'file',
            required: true
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Next'|t('campaign') }}" />
    </form>

    {% set userGroups = craft.app.userGroups.getAllGroups() %}

    {% if userGroups|length %}
        {% set userGroupOptions = [] %}
        {% for userGroup in userGroups %}
            {% set userGroupOptions = userGroupOptions|merge([{'value': userGroup.id, 'label': userGroup.name}]) %}
        {% endfor %}

        <hr/>

        <p>{{ "Import a user group and subscribe the users that belong to it to one or more mailing lists."|t('campaign') }}</p>

        <form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="campaign/imports/select-user-group" />
            {{ forms.selectField({
                label: "User Group"|t('campaign'),
                instructions: "Choose a user group to import."|t('campaign'),
                name: 'userGroupId',
                options: userGroupOptions,
                required: true
            }) }}

            <input type="submit" class="btn submit" value="{{ 'Next'|t('campaign') }}" />
        </form>
    {% endif %}

    {% if imports|length %}
        <hr/>
        <h1>Import History</h1>

        <table id="imports" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Import"|t('campaign') }}</th>
                <th scope="col">{{ "Source"|t('campaign') }}</th>
                <th scope="col">{{ "Mailing List"|t('campaign') }}</th>
                <th scope="col">{{ "Force Subscribe"|t('campaign') }}</th>
                <th scope="col">{{ "Added"|t('campaign') }}</th>
                <th scope="col">{{ "Fails"|t('campaign') }}</th>
                <th scope="col">{{ "Updated"|t('campaign') }}</th>
                <th scope="col">{{ "Date Imported"|t('campaign') }}</th>
                <td class="thin"></td>
            </thead>
            <tbody>
            {% for import in imports %}
                {% set userGroup = import.getUserGroup() %}
                <tr data-id="{{ import.id }}" data-name="{{ import.fileName }}">
                    <th scope="row" data-title="{{ 'Source'|t('campaign') }}"><a href="{{ import.cpViewUrl }}">{{ import.fileName ? 'CSV File'|t('campaign') : 'User Group'|t('campaign') }}</a></th>
                    <td>
                        {% if import.fileName %}
                            <a href="{{ actionUrl('campaign/imports/download-file', {importId: import.id}) }}" class="go" target="_blank">{{ import.fileName }}</a>
                        {% elseif userGroup is not null %}
                            <a href="{{ cpUrl('users') }}" class="go" target="_blank">{{ userGroup.name }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% set mailingList = import.getMailingList() %}
                        {% if mailingList %}
                            <a href="{{ mailingList.cpEditUrl }}" class="go" target="_blank">{{ mailingList.title }}</a></td>
                        {% else %}
                            -
                        {% endif %}
                    <td>
                        {{ forms.lightswitch({
                            name: 'forceSubscribe',
                            on: import.forceSubscribe,
                            disabled: true
                        }) }}
                    </td>
                    <td>{{ import.added }}</td>
                    <td>{{ import.fails }}</td>
                    <td>{{ import.updated|datetime('short') }}</td>
                    <td>{{ import.dateImported|datetime('short') }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}


{% js %}
new Craft.AdminTable({
    tableSelector: '#imports',
    sortable: true,
    deleteAction: 'campaign/imports/delete',
    confirmDeleteMessage: '{{ 'Are you sure you want to delete this import? This will NOT delete the contacts that have already been imported.'|t('campaign') }}',
    deleteSuccessMessage: '{{ 'Import successfully deleted.'|t('campaign') }}',
});
{% endjs %}
