{% extends '_layouts/elementindex' %}

{% set elementType = 'putyourlightson\\campaign\\elements\\CampaignElement' %}
{% set canHaveDrafts = true %}
{% set title = 'Campaigns'|t('campaign') %}
{% set selectedSubnavItem = 'campaigns' %}

{% do view.registerTranslations('campaign', [
    'New campaign',
    'New {campaignType} campaign',
]) %}

{% block content %}
    {% if craft.campaign.allCampaignTypes|length == 0 %}
        <div class="zilch">
            <p>{{ 'No campaign types exist.'|t('campaign') }}</p>
            <div style="font-size: initial;">
                <a href="{{ url('campaign/settings/campaigntypes/new') }}" class="btn submit add icon">
                    {{ 'New campaign type'|t('campaign') }}
                </a>
            </div>
        </div>
        {% block footer %}{% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% if campaignTypeHandle is defined %}
    {% js %}
    window.defaultCampaignTypeHandle = '{{ campaignTypeHandle|e('js') }}';
    {% endjs %}
{% endif %}
