{% extends '_layouts/elementindex' %}

{% set elementType = 'putyourlightson\\campaign\\elements\\CampaignElement' %}
{% set canHaveDrafts = true %}
{% set title = 'Campaigns'|t('campaign') %}
{% set selectedSubnavItem = 'campaigns' %}
{% set allCampaignTypes = craft.campaign.allCampaignTypes %}

{% do view.registerTranslations('campaign', [
    'New campaign',
    'New {campaignType} campaign',
]) %}

{% block content %}
    {% if allCampaignTypes|length == 0 %}
        <div class="zilch">
            <p>{{ 'No campaign types exist.'|t('campaign') }}</p>
            {% if craft.app.config.general.allowAdminChanges and currentUser.can('campaign:settings') %}
                <div style="font-size: initial;">
                    <a href="{{ url('campaign/settings/campaigntypes/new') }}" class="btn submit add icon">
                        {{ 'New campaign type'|t('campaign') }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if allCampaignTypes|length > 0 %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% if campaignTypeHandle is defined %}
    {% js %}
    window.defaultCampaignTypeHandle = '{{ campaignTypeHandle|e('js') }}';
    {% endjs %}
{% endif %}
