{% extends 'campaign/settings/_layout' %}

{% set title = 'Mailing List Types'|t('campaign') %}

{% set mailingListTypes = craft.campaign.getAllMailingListTypes() %}
{% set isMultiSite = craft.app.getIsMultiSite() %}

{% set crumbs = [] %}


{% block actionButton %}
    <a href="{{ url('campaign/settings/mailinglisttypes/new') }}" class="btn submit add icon">{{ "New mailing list type"|t('campaign') }}</a>
{% endblock %}


{% block content %}
    <div id="nomailinglisttypes"{% if mailingListTypes|length %}class="hidden"{% endif %}>
        <p>{{ "No mailing list types exist."|t('campaign') }}</p>
    </div>

    {% if mailingListTypes|length %}
        <table id="mailinglisttypes" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Name"|t('app') }}</th>
                <th scope="col">{{ "Handle"|t('app') }}</th>
                {% if isMultiSite %}
                    <th scope="col">{{ "Site"|t('app') }}</th>
                {% endif %}
                <td class="thin"></td>
                <td class="thin"></td>
            </thead>
            <tbody>
            {% for mailingListType in mailingListTypes %}
                <tr data-id="{{ mailingListType.id }}" data-name="{{ mailingListType.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('app') }}"><a href="{{ mailingListType.cpEditUrl }}">{{ mailingListType.name }}</a></th>
                    <td data-title="{{ 'Handle'|t('app') }}"><code>{{ mailingListType.handle }}</code></td>
                    {% if isMultiSite %}
                        <td data-title="{{ 'Site'|t('app') }}">{{ mailingListType.getSite().name }}</td>
                    {% endif %}
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    new Craft.AdminTable({
        tableSelector: '#mailinglisttypes',
        deleteAction: 'campaign/mailing-list-types/delete',
        confirmDeleteMessage: '{{ 'Are you sure you want to delete “{name}”? This will also delete all of the mailing lists that use it. This action cannot be undone.'|t('campaign') }}',
    });
{% endjs %}
