{% if campaignActivity|length %}
    <table id="campaigns" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Campaign"|t('campaign') }}</th>
            <th scope="col">{{ "Interaction"|t('campaign') }}</th>
            <th scope="col">{{ "Count"|t('campaign') }}</th>
            <th scope="col">{{ "First Interaction"|t('campaign') }}</th>
        </thead>
        <tbody>
            {% for activity in campaignActivity %}
                {% set campaign = activity.model.campaign %}
                <tr>
                    <th scope="row" data-title="{{ 'Campaign'|t('campaign') }}"><a href="{{ campaign.reportUrl }}">{{ campaign.title }}</a></th>
                    <td data-title="{{ 'Interaction'|t('campaign') }}">
                        {{ activity.interaction|ucfirst|t('campaign') }}
                        {% if activity.links|length %}
                            <span class="info">
                                <p>
                                    {% for link in activity.links %}
                                        <a href="{{ link }}" class="go" target="_blank" rel="noopener">{{ link }}</a>
                                        {{ not loop.last ? '<br>'|raw }}
                                    {% endfor %}
                                </p>
                            </span>
                        {% endif %}
                    </td>
                    <td data-title="{{ 'Count'|t('campaign') }}">{{ activity.count }}</td>
                    <td data-title="{{ 'First Interaction'|t('campaign') }}">{{ activity.date|datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if limit is defined and limit == campaignActivity|length %}
        <p><a href="{{ url('campaign/reports/contacts/' ~ contactId ~ '/campaign-activity') }}" class="go">{{ "View all"|t('campaign') }}</a></p>
    {% endif %}

{% else %}

    <p>{{ "No campaign activity for this contact."|t('campaign') }}</p>

{% endif %}

<br/><br/>
