{% if mailingListActivity|length %}
    <table id="mailinglists" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Mailing List"|t('campaign') }}</th>
            <th scope="col">{{ "Interaction"|t('campaign') }}</th>
            <th scope="col">{{ "Source"|t('campaign') }}</th>
            <th scope="col">{{ "First Interaction"|t('campaign') }}</th>
        </thead>
        <tbody>
            {% for activity in mailingListActivity %}
                {% set model = activity.model %}
                <tr>
                    <th scope="row" data-title="{{ 'Mailing List'|t('campaign') }}">
                        {% if model.mailingListReportUrl %}
                            <a href="{{ model.mailingListReportUrl }}">{{ model.mailingListTitle }}</a>
                        {% else %}
                            <span class="line-through">{{ model.mailingListTitle }}</span>
                        {% endif %}
                    </th>
                    <td data-title="{{ 'Interaction'|t('campaign') }}">{{ activity.interaction|ucfirst|t('campaign') }}</td>
                    <td data-title="{{ 'Source'|t('campaign') }}">
                        {% if model.sourceType %}
                            {% if activity.sourceUrl %}
                                <a href="{{ activity.sourceUrl }}" class="go" target="_blank" rel="noopener">{{ model.sourceType|ucfirst|t('campaign') }}</a>
                            {% else %}
                                {{ model.sourceType|ucfirst|t('campaign') }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td data-title="{{ 'First Interaction'|t('campaign') }}">{{ activity.date|datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if limit is defined and limit == mailingListActivity|length %}
        <p><a href="{{ url('campaign/reports/contacts/' ~ contact.id ~ '/mailinglist-activity') }}" class="go">{{ "View all"|t('campaign') }}</a></p>
    {% endif %}

{% else %}

    <p>{{ "No mailing list activity for this contact."|t('campaign') }}</p>

{% endif %}

<br/><br/>
