{% if mailingListActivity|length %}
    <table id="mailinglists" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Mailing List"|t('campaign') }}</th>
            <th scope="col">{{ "Interaction"|t('campaign') }}</th>
            <th scope="col">{{ "Source"|t('campaign') }}</th>
            <th scope="col">{{ "First Interaction"|t('campaign') }}</th>
        </thead>
        <tbody>
            {% for activity in mailingListActivity %}
                {% set mailingList = activity.model.mailingList %}
                <tr>
                    <th scope="row" data-title="{{ 'Mailing List'|t('campaign') }}"><a href="{{ mailingList.reportUrl }}">{{ mailingList.title }}</a></th>
                    <td data-title="{{ 'Interaction'|t('campaign') }}">{{ activity.interaction|ucfirst|t('campaign') }}</td>
                    <td data-title="{{ 'Source'|t('campaign') }}">
                        {% if activity.model.sourceType %}
                            <a href="{{ activity.sourceUrl }}" class="go" target="_blank" rel="noopener">{{ activity.model.sourceType|ucfirst|t('campaign') }}</a>
                        {% endif %}
                    </td>
                    <td data-title="{{ 'First Interaction'|t('campaign') }}">{{ activity.date|datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if limit is defined and limit == mailingListActivity|length %}
        <p><a href="{{ url('campaign/reports/contacts/' ~ contactId ~ '/mailinglist-activity') }}" class="go">{{ "View all"|t('campaign') }}</a></p>
    {% endif %}

{% else %}

    <p>{{ "No mailing list activity for this contact."|t('campaign') }}</p>

{% endif %}

<br/><br/>
