{% extends '_layouts/elementindex' %}

{% set elementType = 'putyourlightson\\campaign\\elements\\MailingListElement' %}
{% set canHaveDrafts = true %}
{% set title = 'Mailing Lists'|t('campaign') %}
{% set selectedSubnavItem = 'mailinglists' %}
{% set allMailingListTypes = craft.campaign.allMailingListTypes %}

{% do view.registerTranslations('campaign', [
    'New mailing list',
    'New {mailingListType} mailing list',
]) %}

{% block content %}
    {% if allMailingListTypes|length == 0 %}
        <div class="zilch">
            <p>{{ 'No mailing list types exist.'|t('campaign') }}</p>
            {% if craft.app.config.general.allowAdminChanges and currentUser.can('campaign:settings') %}
                <div style="font-size: initial;">
                    <a href="{{ url('campaign/settings/mailinglisttypes/new') }}" class="btn submit add icon">
                        {{ 'New mailing list type'|t('campaign') }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if allMailingListTypes|length > 0 %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% if mailingListTypeHandle is defined %}
    {% js %}
    window.defaultMailingListTypeHandle = '{{ mailingListTypeHandle|e('js') }}';
    {% endjs %}
{% endif %}
