{% extends 'campaign/_settings/layout' %}

{% import '_includes/forms' as forms %}
{% import 'campaign/_macros' as macros %}

{% set title = mailingListType.id ? mailingListType.name : 'Create a new mailing list type'|t('campaign') %}

{% set crumbs = [
    { label: 'Mailing List Types'|t('campaign'), url: url('campaign/settings/mailinglisttypes') }
] %}

{% set infoText = 'Available template tags: <br>{tags}' %}


{% block content %}

    <input type="hidden" name="action" value="campaign/mailing-list-types/save" />

    {{ redirectInput('campaign/settings/mailinglisttypes') }}

    {% if mailingListType.id %}
        <input type="hidden" name="mailingListTypeId" value="{{ mailingListType.id }}">
    {% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('campaign'),
        instructions: "What this mailing list type will be called in the CP."|t('campaign'),
        id: 'name',
        name: 'name',
        value: mailingListType.name,
        errors: mailingListType.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t('campaign'),
        instructions: "How you’ll refer to this mailing list type in the templates."|t('campaign'),
        id: 'handle',
        name: 'handle',
        class: 'code',
        value: mailingListType.handle,
        errors: mailingListType.getErrors('handle'),
        required: true
    }) }}

    {% if siteOptions|length > 1 %}
        {{ forms.selectField({
            label: "Site"|t('campaign'),
            instructions: "The site to associate this mailing list type with."|t('campaign'),
            id: 'siteId',
            name: 'siteId',
            options: siteOptions,
            value: mailingListType.siteId,
            errors: mailingListType.getErrors('siteId'),
            required: true
        }) }}
    {% else %}
        <input type="hidden" name="siteId" value="{{ currentSite.id }}" />
    {% endif %}

    <hr>

    {{ forms.lightswitchField({
        label: "Subscribe Verification Required"|t('campaign'),
        instructions: "Whether the contact needs to verify their email address by clicking on a link in a verification email that will be sent to them after submitting a subscribe form (highly recommended)."|t('campaign'),
        id: 'subscribeVerificationRequired',
        name: 'subscribeVerificationRequired',
        on: mailingListType.subscribeVerificationRequired,
        errors: mailingListType.getErrors('subscribeVerificationRequired'),
        toggle: 'verifySubscribeEmailFields',
    }) }}

    <div id="verifySubscribeEmailFields" {{ not mailingListType.subscribeVerificationRequired ? 'class="hidden"' }}>

        {{ forms.textField({
            label: "Subscribe Verification Email Subject"|t('campaign'),
            instructions: "The subject to use for the verification email that is sent to contacts who submit a subscribe form (leave blank for default subject)."|t('campaign'),
            name: 'subscribeVerificationEmailSubject',
            value: mailingListType.subscribeVerificationEmailSubject,
            errors: mailingListType.getErrors('subscribeVerificationEmailSubject'),
            autocomplete: true
        }) }}

        {{ forms.autosuggestField({
            label: "Subscribe Verification Email Template"|t('campaign'),
            instructions: "The template to use for the verification email that is sent to contacts who submit a subscribe form (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`message`, `url`, `mailingList`, `pendingContact`'}),
            name: 'subscribeVerificationEmailTemplate',
            class: 'code',
            suggestions: craft.cp.getTemplateSuggestions(),
            value: mailingListType.subscribeVerificationEmailTemplate,
            errors: mailingListType.getErrors('subscribeVerificationEmailTemplate'),
            autocomplete: true
        }) }}

    </div>

    {{ forms.autosuggestField({
        label: "Subscribe Success Template"|t('campaign'),
        instructions: "The template to use when a contact successfully subscribes to a mailing list (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`message`, `mailingList`'}),
        id: 'subscribeSuccessTemplate',
        name: 'subscribeSuccessTemplate',
        class: 'code',
        suggestions: craft.cp.getTemplateSuggestions(),
        value: mailingListType.subscribeSuccessTemplate,
        errors: mailingListType.getErrors('subscribeSuccessTemplate'),
        autocomplete: true
    }) }}

    <hr>

    {{ forms.lightswitchField({
        label: "Unsubscribe Form Allowed"|t('campaign'),
        instructions: "Whether contacts are allowed to unsubscribe themselves through an unsubscribe form."|t('campaign'),
        id: 'unsubscribeFormAllowed',
        name: 'unsubscribeFormAllowed',
        on: mailingListType.unsubscribeFormAllowed,
        errors: mailingListType.getErrors('unsubscribeFormAllowed'),
        toggle: 'unsubscribeVerificationEmailFields',
    }) }}

    <div id="unsubscribeVerificationEmailFields" {{ not mailingListType.unsubscribeFormAllowed ? 'class="hidden"' }}>

        {{ forms.textField({
            label: "Unsubscribe Verification Email Subject"|t('campaign'),
            instructions: "The subject to use for the verification email that is sent to contacts who submit an unsubscribe form (leave blank for default subject)."|t('campaign'),
            name: 'unsubscribeVerificationEmailSubject',
            value: mailingListType.unsubscribeVerificationEmailSubject,
            errors: mailingListType.getErrors('unsubscribeVerificationEmailSubject'),
            autocomplete: true
        }) }}

        {{ forms.autosuggestField({
            label: "Unsubscribe Verification Email Template"|t('campaign'),
            instructions: "The template to use for the verification email that is sent to contacts who submit an unsubscribe form (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`message`, `url`, `mailingList`, `contact`'}),
            name: 'unsubscribeVerificationEmailTemplate',
            class: 'code',
            suggestions: craft.cp.getTemplateSuggestions(),
            value: mailingListType.unsubscribeVerificationEmailTemplate,
            errors: mailingListType.getErrors('unsubscribeVerificationEmailTemplate'),
            autocomplete: true
        }) }}

    </div>

    {{ forms.autosuggestField({
        label: "Unsubscribe Success Template"|t('campaign'),
        instructions: "The template to use when a contact successfully unsubscribes from a mailing list (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`message`, `mailingList`'}),
        id: 'unsubscribeSuccessTemplate',
        name: 'unsubscribeSuccessTemplate',
        class: 'code',
        suggestions: craft.cp.getTemplateSuggestions(),
        value: mailingListType.unsubscribeSuccessTemplate,
        errors: mailingListType.getErrors('unsubscribeSuccessTemplate'),
        autocomplete: true
    }) }}

    <hr>

    {{ forms.fieldLayoutDesignerField({
        fieldLayout: mailingListType.getFieldLayout(),
    }) }}

{% endblock %}


{% if not mailingListType.handle %}
    {% js "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
