{% extends 'campaign/reports/_layout' %}

{% set title = 'Campaigns'|t('campaign') %}
{% set selectedSubnavItem = 'reports' %}
{% set crumbs = [] %}
{% set showSiteMenu = true %}
{% set data = craft.campaign.reports.getCampaignsReportData(requestedSite) %}


{% block content %}

    <h2>{{ "Campaigns Overview"|t('campaign') }}</h2>

    <table class="data fullwidth collapsible">
        <tbody>
            <tr>
                <th class="light">{{ 'Total'|t('campaign') }}</th>
                <td>{{ data.campaigns|length }}</td>
            </tr>
            <tr>
                <th class="light">{{ 'Sendouts'|t('campaign') }}</th>
                <td>{{ data.sendouts }}</td>
            </tr>
            <tr>
                <th class="light">{{ 'Recipients'|t('campaign') }}</th>
                <td>{{ data.recipients }}</td>
            </tr>
            <tr>
                <th class="light">
                    {{ 'Open Rate'|t('campaign') }}
                    <span class="info">{{ "Open Rate is calculated by dividing the number of contacts that opened an email by the number of contacts that received the email."|t('campaign') }}</span>
                </th>
                <td>{{ data.openRate }}%</td>
            </tr>
            <tr>
                <th class="light">
                    {{ 'Click Rate'|t('campaign') }}
                    <span class="info">{{ "Click Rate is calculated by dividing the number of contacts that clicked on a link in an email by the number of contacts that opened the email."|t('campaign') }}</span>
                </th>
                <td>{{ data.clickRate }}%</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>

    <h2>{{ "Campaign Reports"|t('campaign') }}</h2>

    {% if data.campaigns|length %}
        <table id="campaigns" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Title"|t('app') }}</th>
                <th scope="col">{{ "Recipients"|t('campaign') }}</th>
                <th scope="col">{{ "Opened"|t('campaign') }}</th>
                <th scope="col">{{ "Clicked"|t('campaign') }}</th>
                <th scope="col">{{ "Unsubscribed"|t('campaign') }}</th>
                <th scope="col">{{ "Complained"|t('campaign') }}</th>
                <th scope="col">{{ "Bounced"|t('campaign') }}</th>
                <th scope="col">
                    {{ "OR"|t('campaign') }}
                    <span class="info">{{ "Open Rate is calculated by dividing the number of contacts that opened an email by the number of contacts that received the email."|t('campaign') }}</span>
                </th>
                <th scope="col">
                    {{ "CR"|t('campaign') }}
                    <span class="info">{{ "Click Rate is calculated by dividing the number of contacts that clicked on a link in an email by the number of contacts that opened the email."|t('campaign') }}</span>
                </th>
                <th scope="col" data-attribute="link" data-icon="world" title="{{ "Link"|t('app') }}"></th>
            </thead>
            <tbody>
                {% for campaign in data.campaigns %}
                    <tr>
                        <th scope="row" data-title="{{ 'Title'|t('app') }}">
                            <a href="{{ url('campaign/reports/campaigns/' ~ campaign.id) }}">{{ campaign.title }}</a>
                        </th>
                        <td data-title="{{ 'Recipients'|t('campaign') }}">{{ campaign.recipients }}</td>
                        <td data-title="{{ 'Opened'|t('campaign') }}">{{ campaign.opened }}</td>
                        <td data-title="{{ 'Clicked'|t('campaign') }}">{{ campaign.clicked }}</td>
                        <td data-title="{{ 'Unsubscribed'|t('campaign') }}">{{ campaign.unsubscribed }}</td>
                        <td data-title="{{ 'Complained'|t('campaign') }}">{{ campaign.complained }}</td>
                        <td data-title="{{ 'Bounced'|t('campaign') }}">{{ campaign.bounced }}</td>
                        <td data-title="{{ 'OR'|t('campaign') }}">{{ campaign.openRate }}%</td>
                        <td data-title="{{ 'CTR'|t('campaign') }}">{{ campaign.clickRate }}%</td>
                        <td data-title="{{ "Link"|t('app') }}" data-attr="link">
                            <a href="{{ campaign.url }}" target="_blank" data-icon="world"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p>{{ "No campaigns have been sent."|t('campaign') }}</p>

    {% endif %}

    <br/><br/>

{% endblock %}
