{% import 'campaign/_macros' as macros %}

{{ "Filter by sendout"|t('campaign') }}:
<div class="select">
    <select class="filter" data-type="sendout">
        <option value="">{{ "All"|t('campaign') }}</option>
        {% for sendout in data.sendouts %}
            <option value="{{ sendout.id }}" {{ sendoutId == sendout.id ? 'selected' }}>
                {{ sendout.title }}
            </option>
        {% endfor %}
    </select>
</div>
<br/><br/>

{% if recipients|length %}

    <table id="recipients" class="display nowrap hidden">
        <thead>
            <th scope="col">{{ "Contact"|t('campaign') }}</th>
            <th scope="col">{{ "Sendout"|t('campaign') }}</th>
            <th scope="col">{{ "Sent"|t('campaign') }}</th>
        </thead>
        <tbody>
            {% for recipient in recipients %}
                {% if recipient.contactId %}
                    <tr>
                        <th scope="row" data-title="{{ 'Email'|t('campaign') }}">
                            <a href="{{ recipient.contactReportUrl }}">{{ recipient.contactEmail }}</a>
                        </th>
                        <td data-title="{{ 'Sendout'|t('campaign') }}">
                            {% if recipient.sendoutId %}
                                <a href="{{ recipient.sendoutEditUrl }}">{{ recipient.sendoutTitle }}</a>
                            {% endif %}
                        </td>
                        <td data-order="{{ recipient.sent|datetime('U') }}" data-title="{{ 'Sent'|t('campaign') }}">
                            {{ recipient.sent|datetime }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {{ include('campaign/reports/_includes/datatable', {
        id: 'recipients',
        itemName: 'recipients'|t('campaign'),
        order: 2,
    }) }}

{% else %}

    <p>{{ "No recipients for this campaign."|t('campaign') }}</p>

{% endif %}

<br/><br/>
