{% macro linkInteration(campaign, interaction) -%}
    {% set value = attribute(campaign, interaction) ?? 0 %}
    {% if value %}
        <a href="{{ campaign.reportUrl ~ '/contact-activity?interaction=' ~ interaction }}">
            {{- value -}}
        </a>
    {% else %}
        {{ value }}
    {% endif %}
{%- endmacro %}
{% from _self import linkInteration %}


{% set data = craft.campaign.reports.getCampaignReportData(campaign.id) %}

<div>

    {% if data.dateFirstSent is not null %}
        <p class="light">{{ 'Campaign first sent on {date}.'|t('campaign', {date: data.dateFirstSent|datetime('full')}) }}</p>
    {% endif %}

    {% if data.hasChart|length %}
        <div class="report-chart">
            <div class="select">
                <select id="interval">
                    <option value="minutes">{{ 'Minutes'|t('campaign') }}</option>
                    <option value="hours" selected>{{ 'Hours'|t('campaign') }}</option>
                    <option value="days">{{ 'Days'|t('campaign') }}</option>
                    <option value="months">{{ 'Months'|t('campaign') }}</option>
                    <option value="years">{{ 'Years'|t('campaign') }}</option>
                </select>
            </div>
            <a href="#" id="refresh" class="refresh">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path fill="#8f98a3" d="M9 13.5c-2.49 0-4.5-2.01-4.5-4.5S6.51 4.5 9 4.5c1.24 0 2.36.52 3.17 1.33L10 8h5V3l-1.76 1.76C12.15 3.68 10.66 3 9 3 5.69 3 3.01 5.69 3.01 9S5.69 15 9 15c2.97 0 5.43-2.16 5.9-5h-1.52c-.46 2-2.24 3.5-4.38 3.5z"/></svg>
            </a>
            <div class="spinner big"></div>
            <div id="chart"></div>
        </div>

        {% js %}
            new Campaign.Chart({
                action: 'campaign/reports/get-campaign-chart-data',
                campaignId: '{{ campaign.id }}'
            }).getChart();
        {% endjs %}
    {% endif %}

    {% if data.campaign %}

        <div class="cols padded-right">
            <div class="percentage-chart" data-label="{{ 'Opened'|t('campaign') }}" data-value="{{ data.campaign.getRate('opened') }}" data-color="#4486EC"></div>
            <div class="percentage-chart" data-label="{{ 'Clicked'|t('campaign') }}" data-value="{{ data.campaign.getRate('clicked') }}" data-color="#008000"></div>
            <div class="percentage-chart" data-label="{{ 'Unsubscribed'|t('campaign') }}" data-value="{{ data.campaign.getRate('unsubscribed') }}" data-color="#D0021B"></div>
        </div>
        <div class="clear"></div>

        <h2>{{ "Campaign Details"|t('campaign') }}</h2>

        <table class="data fullwidth collapsible">
            <tbody>
                <tr>
                    <th class="light">{{ 'Sendouts'|t('campaign') }}</th>
                    <td>{{ data.sendouts|length }}</td>
                </tr>
                <tr>
                    <th class="light">{{ 'Recipients'|t('campaign') }}</th>
                    <td>
                        <a href="{{ campaign.reportUrl ~ '/recipients' }}">
                            {{ data.campaign.recipients }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="light">{{ 'Opened'|t('campaign') }}</th>
                    <td>{{ linkInteration(data.campaign, 'opened') }} <code>[{{ data.campaign.getRate('opened') }}%]</code>
                    </td>
                </tr>
                <tr>
                    <th class="light">{{ 'Clicked'|t('campaign') }}</th>
                    <td>{{ linkInteration(data.campaign, 'clicked') }} <code>[{{ data.campaign.getRate('clicked') }}%]</code></td>
                </tr>
                <tr>
                    <th class="light">{{ 'Unsubscribed'|t('campaign') }}</th>
                    <td>{{ linkInteration(data.campaign, 'unsubscribed') }} <code>[{{ data.campaign.getRate('unsubscribed') }}%]</code></td>
                </tr>
                <tr>
                    <th class="light">{{ 'Complained'|t('campaign') }}</th>
                    <td>{{ linkInteration(data.campaign, 'complained') }} <code>[{{ data.campaign.getRate('complained') }}%]</code></td>
                </tr>
                <tr>
                    <th class="light">{{ 'Bounced'|t('campaign') }}</th>
                    <td>{{ linkInteration(data.campaign, 'bounced') }} <code>[{{ data.campaign.getRate('bounced') }}%]</code></td>
                </tr>
                <tr>
                    <th class="light">
                        {{ 'Click Through Rate'|t('campaign') }}
                        <span class="info">{{ "Click Through Rate is calculated by dividing the number of contacts that clicked on a link in an email by the number of contacts that opened the email."|t('campaign') }}</span>
                    </th>
                    <td>{{ data.campaign.clickThroughRate }}%</td>
                </tr>
            </tbody>
        </table>

        <br/><br/>

    {% endif %}

    {% set limit = 5 %}

    <h2>{{ "Contact Activity"|t('campaign') }}</h2>
    {% include 'campaign/reports/campaigns/_includes/contact-activity' with { contactActivity: craft.campaign.reports.getCampaignContactActivity(campaign.id, null, limit), reportUrl: url('campaign/reports/campaigns/' ~ campaign.id ~ '/contact-activity') } %}

    <h2>{{ "Links"|t('campaign') }}</h2>
    {% include 'campaign/reports/campaigns/_includes/links' with { links: craft.campaign.reports.getCampaignLinks(campaign.id, limit), reportUrl: url('campaign/reports/campaigns/' ~ campaign.id ~ '/links') } %}

    <div class="cols">
        <div class="half">
            <h2>{{ "Locations"|t('campaign') }}</h2>
            {% include 'campaign/reports/_includes/locations' with { locations: craft.campaign.reports.getCampaignLocations(campaign.id, limit), countLabel: 'Opened', reportUrl: url('campaign/reports/campaigns/' ~ campaign.id ~ '/locations') } %}
        </div>

        <div class="half">
            <h2>{{ "Devices"|t('campaign') }}</h2>
            {% include 'campaign/reports/_includes/devices' with { devices: craft.campaign.reports.getCampaignDevices(campaign.id, false, limit), countLabel: 'Opened', reportUrl: url('campaign/reports/campaigns/' ~ campaign.id ~ '/devices') } %}
        </div>
    </div>
    <div class="clear"></div>

    <h2>{{ "Sendouts"|t('campaign') }}</h2>

    {% if data.sendouts|length %}
        <table id="sendouts" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Title"|t('app') }}</th>
                <th scope="col">{{ "Sendout Type"|t('campaign') }}</th>
                <th scope="col">{{ "Recipients"|t('campaign') }}</th>
                <th scope="col">{{ "Send Date"|t('campaign') }}</th>
                <th scope="col">{{ "Last Sent"|t('campaign') }}</th>
            </thead>
            <tbody>
                {% for sendout in data.sendouts %}
                    <tr>
                        <th scope="row" data-title="{{ 'Title'|t('app') }}"><a href="{{ sendout.cpEditUrl }}">{{ sendout.title }}</a></th>
                        <td data-title="{{ 'Sendout Type'|t('campaign') }}">{{ sendout.sendoutType|ucfirst }}</td>
                        <td data-title="{{ 'Recipients'|t('campaign') }}">{{ sendout.recipients }}</td>
                        <td data-title="{{ 'Send Date'|t('campaign') }}">{{ sendout.sendDate ? sendout.sendDate|datetime }}</td>
                        <td data-title="{{ 'Last Sent'|t('campaign') }}">{{ sendout.lastSent ? sendout.lastSent|datetime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p>{{ "No sendouts for this campaign."|t('campaign') }}</p>

    {% endif %}

</div>
