{% import '_includes/forms' as forms %}

{% include 'campaign/sendouts/_includes/schedule/dates' %}

{% set input %}
    {% set intervalOptions = schedule.getIntervalOptions() %}
    {% if editable %}
        {{ forms.text({
            name: 'schedule[timeDelay]',
            type: 'number',
            value: schedule.timeDelay,
            size: '10',
        }) }}
        {{ forms.select({
            name: 'schedule[timeDelayInterval]',
            options: intervalOptions,
            value: schedule.timeDelayInterval,
        }) }}
    {% else %}
        <p>{{ schedule.timeDelay }} {{ intervalOptions[schedule.timeDelayInterval] }}</p>
    {% endif %}
{% endset %}
{{ forms.field({
    label: "Time Delay"|t('campaign'),
    instructions: "The amount of time to wait after subscribers join the list(s). Set to 0 for immediately."|t('campaign'),
    errors: schedule.getErrors('timeDelay'),
    required: true,
}, input) }}

{% include 'campaign/sendouts/_includes/schedule/daysOfWeek' %}
{% include 'campaign/sendouts/_includes/schedule/timeOfDay' %}
{% include 'campaign/sendouts/_includes/schedule/condition' %}
