{% extends 'campaign/_layout' %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\ReportsAsset') %}

{% set selectedSubnavItem = 'reports' %}

{% set baseCrumbs = [
    { label: 'Reports'|t('campaign'), url: url('campaign/reports') }
] %}
{% set crumbs = crumbs is defined ? baseCrumbs|merge(crumbs) : [] %}

{% set showSiteMenu = showSiteMenu ?? false %}
{% set siteId = siteId ?? null %}


{% block contextMenu %}

    {% if showSiteMenu and craft.app.getIsMultiSite() %}
        {% set segment3 = craft.app.request.getSegment(3) %}
        {% include '_elements/sitemenu' with {
            selectedSiteId: siteId ? siteId : currentSite.id,
            urlFormat: url('campaign/reports/' ~ segment3 ~ '?siteId={id}'),
        } only %}
    {% endif %}

{% endblock %}


{% block sidebar %}

    <nav class="last">
        <ul>
            <li>
                <a class="{{ craft.app.request.getSegment(3) == 'campaigns' ? 'sel' }}"
                   href="{{ url('campaign/reports/campaigns', { siteId: siteId }) }}"
                >
                    {{ 'Campaigns'|t('campaign') }}
                </a>
            </li>
            <li>
                <a class="{{ craft.app.request.getSegment(3) == 'contacts' ? 'sel' }}"
                   href="{{ url('campaign/reports/contacts', { siteId: siteId }) }}"
                >
                    {{ 'Contacts'|t('campaign') }}
                </a>
            </li>
            <li>
                <a class="{{ craft.app.request.getSegment(3) == 'mailinglists' ? 'sel' }}"
                   href="{{ url('campaign/reports/mailinglists', { siteId: siteId }) }}"
                >
                    {{ 'Mailing Lists'|t('campaign') }}
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
